html {
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background: linear-gradient( #ffffff,  #eeeeee, #cccccc  );
}

.app-title {
  font-family: 'blackblock', sans-serif;
  font-size: 6em;
  width: 100%;
  text-align: center;
  color: #444444;
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

input {
  border-radius: 5px;
  border: solid 1px #444444;
  font-family: 'ErikSans', sans-serif;
  padding: 1em;
  font-size: 16px;
  box-shadow: 0 3px 5px #888888;
}

button {
  font-family: 'ErikSans', sans-serif;
  padding: 1em;
  box-shadow: 0 3px 5px #888888;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  border: solid 1px;
  color: #444444;
}

h1,
h2 {
  color: #444444;
  font-family: 'ErikSans', sans-serif;
}

h1 {
  font-size: 8em;
}
