html {
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background: linear-gradient(#323c91, #3d294f, #23182d);
}

.app-title {
  font-family: 'blackblock', sans-serif;
  font-size: 8em;
  width: 100%;
  text-align: center;
  color: white;
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

input {
  border-radius: 5px;
  border: solid 1px white;
  font-family: 'ErikSans', sans-serif;
  padding: 1em;
  font-size: 16px;
  color: white;
  box-shadow: 0 3px 5px #aaa;
  background-color: transparent;
}

button {
  font-family: 'ErikSans', sans-serif;
  padding: 1em;
  box-shadow: 0 3px 5px #aaa;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  border: solid 1px;
  color: #23182d;
}

h1,
h2 {
  color: white;
  font-family: 'ErikSans', sans-serif;
}

h1 {
  font-size: 8em;
}